* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens-fodas/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tudo {
    border: 5px solid;
    background-color: black;
}

.Título {
    text-align: center;
    color: darkgrey;
    max-width: 100;
}

.navBar,a {
    text-align: center;
    text-decoration: none;
}

.Video1 {
    text-align: center;

}

.Video2 {
    text-align: center;
}

.Video3 {
    text-align: center;
}
