* {
    margin: 0;
    padding: 0;
}

.Título {
    text-align: center;
    color: darkgrey;
    max-width: 100;
}

.navBar,a {
    text-align: center;
    text-decoration: none;
}

.Video1 {
    text-align: center;

}

.Video2 {
    text-align: center;
}

.Video3 {
    text-align: center;
}
