* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body {
    background-image: url(imagens-fodas/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.tudo {
    border: 5px solid;
    background-color: black;
    padding: 15px;
    margin: 115px;
    border-radius: 35px;
}

.Título {
    background-image: url(imagens-fodas/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.Título {
    text-align: center;
    color: darkgrey;
    max-width: 100;
}

.navBar,a {
    text-align: center;
    text-decoration: none;
}

.Video1 {
    text-align: center;

}

.Video2 {
    text-align: center;
}

.VideoLongo1 {
    text-align: center;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 50px; 
}

.VideoLongo2 {
    text-align: center;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 50px; 
}
